{
  "extends": "@reactioncommerce/eslint-config/node",
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "jest": {
      "version": 26
    }
  }
}
